.main-btn {
  background-color: $prime-color;
}
.search-form__button {
  width: 36px;
  height: 40px;
  background-color: $prime-color;
  border-radius: 0px 6px 6px 0px;
  border: none;
  outline: none;
}
