.search-form__button {
  width: 36px;
  height: 40px;
  background-color: $prime-color;
  border-radius: 0px 6px 6px 0px;
  outline: none;
}
.search-form__button:hover {
  background-color: $second-color;
}
.search-form__button:focus {
  background-color: $second-color;
}
.search-form__button:active {
  background-color: #304b6d;
}
.user-avatar {
  outline: none;
}
.ratting-btn {
  background-color: $prime-color;
  color: $bkg-tcolor-2;
  border-radius: 4px;
  border: 1px solid $prime-color;
  outline: none;
  padding: 0;
}
.ratting-btn:hover {
  background-color: $bkg-tcolor-2;
  color: $prime-color;
  border: 1px solid $prime-color;
}
.ratting-btn:focus {
  background-color: $bkg-tcolor-2;
  color: $prime-color;
  border: 1px solid $prime-color;
}
.ratting-btn:active {
  background-color: $second-color;
  color: $bkg-tcolor-2;
  border: 1px solid $bkg-tcolor-2;
}
.other-options__btn {
  background-color: $prime-color;
  color: $bkg-tcolor-2;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 24px;
  border: 1px solid $prime-color;
  align-self: center;
}
.other-options__btn:hover {
  background-color: $bkg-tcolor-2;
  color: $prime-color;
  border: 1px solid $prime-color;
}
.other-options__btn:focus {
  background-color: $bkg-tcolor-2;
  color: $prime-color;
  border: 1px solid $prime-color;
}
.other-options__btn:active {
  background-color: $second-color;
  color: $bkg-tcolor-2;
  border: 1px solid $bkg-tcolor-2;
}
.main-tabs__item {
  color: $tcolor-1;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 4px;
  border-bottom: 4px solid transparent;
}
.main-tabs__item:hover {
  color: $prime-color;
}
.main-tabs__item:focus {
  color: $prime-color;
  border-bottom: 4px solid $prime-color;
}
.other-packages-btn {
  background-color: $prime-color;
  color: $bkg-tcolor-2;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
