.hero-section {
  background-color: $bkg-color-1;
}
.page-path {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px 0;
}
@include media-breakpoint-up(lg) {
  .page-path {
    justify-content: left;
    align-items: center;
    flex-direction: row;
  }
}
.result-of-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title__style {
  margin: 0;
  padding: 10px 0;
}
.main-title__offer {
  background-color: $prime-color;
  border-radius: 3px;
  margin: 0;
  padding: 16px 10px;
}
.service-list {
  padding: 10px 0;
}
.ratting-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ratting-btn__users {
  padding: 8px 8px 2px 8px;
}
.ratting-btn__scale {
  position: relative;
  padding-bottom: 6px;
}
.ratting-btn__scale-nb {
  position: absolute;
  bottom: 52%;
}
@include media-breakpoint-up(sm) {
  .result-of-search {
    flex-direction: row;
    justify-content: space-between;
  }
  .hotel-info {
    align-items: flex-start;
  }
  .main-title {
    align-items: flex-start;
  }
  .main-title__style {
    margin: 0;
    padding: 0 0;
  }
  .service-list {
    padding-top: 4px;
    padding-bottom: 0;
  }
}
@include media-breakpoint-up(lg) {
  .gold-stars__style {
    font-size: 10px;
  }
  .main-title {
    flex-direction: row;
    align-items: center;
  }
  .main-title__offer {
    padding: 4px 10px;
  }
  .main-title__style {
    padding-right: 14px;
  }
}
@include media-breakpoint-up(xl) {
  .gold-stars__style {
    font-size: 6px;
  }
  .result-of-search {
    align-items: flex-end;
  }
}
