.header-icons {
  color: $tcolor-1;
  font-size: 16px;
}
.search-form__button-icon {
  color: $bkg-tcolor-2;
}
.user-cart__icon {
  color: $tcolor-2;
  font-size: 24px;
}
.user-avatar__icon {
  color: $tcolor-2;
  font-size: 12px;
}
.gold-stars__style {
  color: $gold;
}
.other-options__icon {
  font-size: 14px;
  padding-right: 8px;
}
.hotel-blue-haven__icon {
  color: $bkg-tcolor-2;
  font-size: 14px;
}
.what-section-chevron {
  color: $arrows;
}
.icon-vector_1 {
  visibility: hidden;
}
.icon-vector_2 {
  visibility: hidden;
}
@include media-breakpoint-up(lg) {
  .icon-vector_1 {
    visibility: visible;
    font-size: 40px;
    color: $quotes;
    opacity: 0.4;
    position: absolute;
    left: 25%;
    top: 118px;
  }
  .icon-vector_2 {
    visibility: visible;
    font-size: 40px;
    color: $quotes;
    opacity: 0.4;
    position: relative;
    left: 45%;
    top: 140px;
    z-index: 0;
  }
}
@include media-breakpoint-up(xl) {
  .icon-vector_1 {
    top: 108px;
  }
  .icon-vector_2 {
    top: 118px;
  }
}
