.header-icons {
  color: $tcolor-1;
  font-size: 16px;
}
.search-form__button-icon {
  color: $bkg-tcolor-2;
}
.user-cart__icon {
  color: $tcolor-2;
  font-size: 24px;
}
.user-avatar__icon {
  color: $tcolor-2;
  font-size: 12px;
}
.gold-stars__style {
  color: $gold;
}
.other-options__icon {
  font-size: 14px;
  padding-right: 8px;
}
