.main-header-general {
  background-color: $bkg-tcolor-2;
}
.header-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}
.search-form {
  padding: 10px 0;
}
.search-form__input {
  height: 40px;
  width: 180px;
  background: $bkg-color-1;
  border-radius: 6px;
  padding-left: 12px;
  border: none;
  outline: none;
  position: relative;
}
.search-form__button {
  outline: none;
  position: absolute;
  margin-left: -10px;
}
.user-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-wraper__info {
  padding-left: 30px;
}
.user-cart:hover {
  text-decoration: none;
}
.user-cart::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: $tcolor-2;
  transition: width 0.3s;
}
.user-cart:hover::after {
  width: 120%;
  transition: width 0.3s;
}
.user-cart:focus::after {
  width: 120%;
  transition: width 0.3s;
}
.user-cart {
  position: relative;
}
.user-cart__count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $prime-color;
  color: $bkg-tcolor-2;
  position: absolute;
  left: 60%;
  bottom: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-avatar {
  display: flex;
  align-items: center;
  position: relative;
}
.user-avatar:hover {
  outline: none;
  background-color: $bkg-color-1;
  border-radius: 12px;
}
.user-avatar:focus {
  outline: none;
  background-color: $bkg-color-1;
  border-radius: 12px;
}
.user-avatar:active {
  outline: none;
  background-color: $bkg-tcolor-2;
}
.user-avatar__photo {
  border-radius: 50%;
}
.user-avatar__name {
  padding-left: 18px;
  padding-right: 24px;
}
.user-avatar__icon {
  position: absolute;
  left: 90%;
  top: 44%;
}
@include media-breakpoint-up(sm) {
  .user-wraper__info {
    padding-left: 64px;
  }
  .user-wraper__info:first-child {
    padding-left: 0;
  }
  .user-avatar {
    padding-right: 20px;
  }
  .search-form__input {
    padding-left: 24px;
    width: 240px;
  }
}
@include media-breakpoint-up(md) {
  .search-form__input {
    width: 284px;
  }
  .search-form__button {
    width: 66px;
  }
  .search-form {
    padding: 20px 0;
  }
}
@include media-breakpoint-up(lg) {
  .header-general {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
  }
  .search-form {
    padding: 0;
  }
  .user-avatar__icon {
    left: 86%;
    font-size: 14px;
  }
}
