.header-info__text {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
.header-info__text-1 {
  font-weight: 700;
}
.header-info__text-2 {
  font-weight: 400;
}
.header-info__link {
  color: $tcolor-1;
  text-decoration: none;
}
.header-info-list__link {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
@include media-breakpoint-up(lg) {
  .header-info__text,
  .header-info-list__link {
    font-size: 10px;
    line-height: 14px;
  }
}
.search-form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $tcolor-1;
}
.user-cart__count {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
.user-avatar__name {
  font-weight: 400;
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $bkg-tcolor-2;
}
.page-path__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: $tcolor-1;
}
@include media-breakpoint-up(lg) {
  .page-path__text {
    font-size: 10px;
  }
}
.main-title__style {
  color: $tcolor-1;
  font-weight: 700;
}
.main-title__offer {
  color: $bkg-tcolor-2;
  font-weight: 600;
  font-size: 16px;
  line-height: 13px;
}
@include media-breakpoint-up(lg) {
  .main-title__offer {
    font-size: 10px;
    line-height: 13px;
  }
  .main-title__style {
    font-size: 24px;
    line-height: 30px;
  }
}
.service-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $tcolor-1;
}
.ratting-btn__users {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.ratting-btn__scale {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.other-option-sml-txt {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.other-option-big-txt {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.other-option-mid-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.other-option-lrg-txt {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.info-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $bkg-tcolor-2;
}
.info-card__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.offer-details__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
@include media-breakpoint-up(xl) {
  .offer-details__list-text {
    font-size: 14px;
    line-height: 18px;
  }
}
.package-details__list-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $prime-color;
}
.other-packages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: $tcolor-1;
}
.hotel-blue-haven-main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $bkg-tcolor-2;
}
.hotel-blue-haven-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $bkg-tcolor-2;
}
@include media-breakpoint-up(lg) {
  .hotel-blue-haven-txt {
    font-size: 12px;
    line-height: 18px;
  }
}
.hotel-blue-haven__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $bkg-tcolor-2;
}
.hotel-blue-haven__big-txt {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $bkg-tcolor-2;
}
.main-flash-offer {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
@include media-breakpoint-up(xl) {
  .deleted-price {
    font-size: 14px;
    line-height: 18px;
  }
  .hotel-blue-haven-txt {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
  }
}
.what-people-think__wraper-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: $tcolor-1;
}
