.header-info__text {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
.header-info__text-1 {
  font-weight: 700;
}
.header-info__text-2 {
  font-weight: 400;
}
.header-info__link {
  color: $tcolor-1;
  text-decoration: none;
}
.header-info-list__link {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
@include media-breakpoint-up(lg) {
  .header-info__text,
  .header-info-list__link {
    font-size: 10px;
    line-height: 14px;
  }
}
.search-form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $tcolor-1;
}
.user-cart__count {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
.user-avatar__name {
  font-weight: 400;
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $bkg-tcolor-2;
}
.page-path__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: $tcolor-1;
}
@include media-breakpoint-up(lg) {
  .page-path__text {
    font-size: 10px;
  }
}
.main-title__style {
  color: $tcolor-1;
  font-weight: 700;
}
.main-title__offer {
  color: $bkg-tcolor-2;
  font-weight: 600;
  font-size: 16px;
  line-height: 13px;
}
.service-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $tcolor-1;
}
.ratting-btn__users {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.ratting-btn__scale {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
