.header-info__text {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
.header-info__text-1 {
  font-weight: 700;
}
.header-info__text-2 {
  font-weight: 400;
}
.header-info__link {
  color: $tcolor-1;
  text-decoration: none;
}
.header-info-list__link {
  color: $tcolor-1;
  font-size: 14px;
  line-height: 18px;
}
@include media-breakpoint-up(lg) {
  .header-info__text,
  .header-info-list__link {
    font-size: 10px;
    line-height: 14px;
  }
}
