$container-width: (
  xs: 540px,
  sm: 720px,
  md: 960px,
  lg: 1140px,
);
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
$prime-color: #ec1f46;
$second-color: #0a223d;
$bkg-color-1: #f5fafe;
$bkg-tcolor-2: #fff;
$tcolor-1: #333;
$tcolor-2: #000;
$quotes: #f2f2f2;
$arrows: #828282;
$icons-color: #bdbdbd;
$primary-font: "Mulish", sans-serif;
