.what-people-think {
  background-color: $bkg-color-1;
}
.what-people-think__wraper {
  text-align: center;
}
.what-people-think__wraper-title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 114px;
}
.comment {
  background-color: $bkg-tcolor-2;
  width: 100%;
  border-radius: 8px;
}
